<head>
  <style>
    .contenedor-item{
      border: 5px outset gray;
      background-color: lightblue;
      text-align: center;
  }
  #titulo-contenedor{
    border: 5px outset gray;
      background-color: yellow;
      text-align: center;
  }
  h3{
    size: 400px;
  }
  </style>

</head>


<div class="cabeza-contenedor">
  <div id="titulo-contenedor">
    <h1>EVENTOS CAi</h1>
    <!-- <% console.log(eventsList) %> -->
  </div>
  <div id="informacion-extra">
    <% if (eventsList) { %>
      <p>No hay eventos</p>
    <% } else { %>
  </div>
</div>
<div class="cuerpo-contenedor">
  <%= JSON.stringify(eventsList) %>


  </div>
<% } %>
