<head>
  <style>
  .contenedor-item{
        background-color: #fbd742;
        text-align: center;

    }
    #titulo-contenedor{
        background-color: white;
        text-align: center;

    }
    h1{
      font-family: sans-serif;
      font-size:50px;


    }

    .cuerpo-contenedor{
      font-family:sans-serif;
    }
  </style>

</head>

<div class="cabeza-contenedor">
  <div id="titulo-contenedor">
    <h1>PROYECTOS CAi</h1>
  </div>
  <div id="informacion-extra">
    <% if (!projectsList.length) { %>
      <p>No hay inventario</p>

    <% } else { %>

  </div>



</div>


<div class="cuerpo-contenedor">




  <% projectsList.forEach((project) => { %>

    <div class="contenedor-item">

      <div class="divnombre">
        <h1>
          <%= project.name %>
        </h1>
      </div>

      <div class="item-imagenes" id="imagen-objeto">
        <img src="<%=project.image%>" >

      </div>



    </div>
    <% }) %>

</div>

<% } %>
