// colores
$btnPrimario : rgba(228, 231, 6, 0.979);
$amarilloCai :	#FFD700;

$color-navbar:black;

$letra_gris_claro : rgb(160, 157, 157);
$letra_gris_oscuro : rgb(104, 103, 103);
$color_fondo : #292929;
$color_body_fondo : #292929;
$color_navbar : rgba(1, 3, 3, 0.822);

$letra-items:white;

$margenArribaX: 180px;
$margenArribaEdit: 220px;
